{{#if session.isAuthenticated}}
  <div class="nav">
    <div class="container">
      <div class="media">
        <div class="media-left media-middle">
          {{#link-to "application"}}<img src="assets/images/logo.png" >{{/link-to}}
        </div>
        <div class="media-body media-middle">

        </div>
        <div class="media-right media-middle">
          {{#link-to "beers"}}Hunt{{/link-to}}
        </div>
        <div class="media-right media-middle">
          <button {{action "signOut"}}>Sign out</button>
        </div>
      </div>
    </div>
  </div>
  {{outlet}}
{{else}}
  <button {{action "signIn" "google"}}>Sign in with Google</button>
{{/if}}
